.bgr {
    background-image: linear-gradient(1deg, white, #dfccaf);
}

.item-options {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-in-out; /* Hiệu ứng transition cho opacity */
}

.item-options.show {
    opacity: 1; /* Hiển thị phần tử khi được kích hoạt */
    pointer-events: auto;
}

@keyframes custom-pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.custom-animate-pulse {
    animation: custom-pulse 0.08s ease-in 1;
}
